In [17]:
# numpy and pandas for data manipulation
import numpy as np
import pandas as pd 

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

# matplotlib and seaborn for plotting
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [18]:
FILEPATH_APPLICATION_TRAIN     = "../data/application_train.csv.f"
FILEPATH_APPLICATION_TEST      = "../data/application_test.csv.f"
FILEPATH_BUREAU                 = "../data/bureau.csv.f"
FILEPATH_BUREAU_BALANCE         = "../data/bureau_balance.csv.f"
FILEPATH_CREDIT_CARD_BALANCE   = "../data/credit_card_balance.csv.f"
FILEPATH_INSTALLMENTS_PAYMENTS = "../data/installments_payments.csv.f"
FILEPATH_POS_CASH_BALANCE      = "../data/POS_CASH_balance.csv.f"
FILEPATH_PREVIOUS_APPLICATION  = "../data/previous_application.csv.f"

In [19]:
df_bureau = pd.read_feather(FILEPATH_BUREAU)
df_bureau_balance = pd.read_feather(FILEPATH_BUREAU_BALANCE)

In [20]:
df_bureau.shape

(1716428, 17)

In [21]:
df_bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [34]:
df_bureau[df_bureau['CNT_CREDIT_PROLONG']>0].head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
465,118247,5715074,Closed,currency 1,-1071,0,-182.0,-182.0,0.000,2,135000.0,NaN,NaN,0.0,Credit card,-180,NaN
622,172376,5715265,Active,currency 1,-735,0,27481.0,NaN,0.000,2,364500.0,364037.400,462.600,0.0,Credit card,-31,NaN
638,182005,5715287,Active,currency 1,-696,0,27481.0,NaN,0.000,2,162000.0,161952.255,47.745,0.0,Credit card,-38,NaN
668,377562,5715327,Active,currency 1,-2245,0,1412.0,NaN,0.000,1,495000.0,0.000,495000.000,0.0,Credit card,-57,NaN
678,189495,5715340,Active,currency 1,-562,0,27481.0,NaN,15406.065,1,180000.0,50238.405,124655.670,0.0,Credit card,-45,NaN
1071,370938,5715796,Active,currency 1,-1129,0,1064.0,NaN,9000.000,1,90000.0,61506.450,0.000,0.0,Credit card,-32,0.45
1096,427471,5715823,Active,currency 1,-559,0,27403.0,NaN,0.000,1,45000.0,40487.085,14.355,0.0,Credit card,-33,NaN
1204,388298,5715941,Active,currency 1,-551,0,27521.0,NaN,0.000,1,472500.0,338302.305,134197.695,0.0,Credit card,-12,NaN
1306,299700,5716067,Active,currency 1,-2252,0,8752.0,NaN,468.000,1,0.0,NaN,NaN,0.0,Credit card,-930,NaN
1366,174225,5716138,Active,currency 1,-1812,0,9147.0,NaN,171.000,1,135000.0,NaN,NaN,0.0,Credit card,-72,NaN
1369,311349,5716142,Closed,currency 1,-610,0,120.0,-127.0,0.000,1,45000.0,0.000,0.000,0.0,Credit card,-114,NaN
1441,196270,5716231,Active,currency 1,-1538,0,27521.0,NaN,14522.490,4,407565.0,406523.790,1041.210,0.0,Credit card,-12,NaN
1442,196270,5716232,Active,currency 1,-199,0,1330.0,NaN,0.000,1,900000.0,857908.215,0.000,0.0,Consumer credit,-39,NaN
1452,386628,5716244,Active,currency 1,-1731,0,9226.0,NaN,0.000,1,0.0,NaN,NaN,0.0,Credit card,-1652,NaN
1465,326923,5716261,Active,currency 1,-761,0,4.0,NaN,0.000,1,18000.0,0.000,18000.000,0.0,Credit card,-2,NaN
1905,132005,5716815,Active,currency 1,-2073,0,8886.0,NaN,117.000,1,0.0,NaN,NaN,0.0,Credit card,-378,NaN
2029,430220,5716986,Closed,currency 1,-2230,0,9180.0,-1526.0,2223.000,1,22500.0,NaN,NaN,0.0,Credit card,-1526,NaN
2124,347464,5717100,Closed,currency 1,-1968,0,8991.0,-1239.0,91696.500,1,0.0,NaN,NaN,0.0,Credit card,-1239,NaN
2279,421103,5717304,Active,currency 1,-2394,0,NaN,NaN,6988.500,1,684450.0,0.000,684450.000,0.0,Credit card,-370,NaN
2288,233261,5717315,Active,currency 1,-958,0,140.0,NaN,0.000,1,45000.0,42685.290,2314.710,0.0,Credit card,-5,8460.00
2424,210943,5717467,Closed,currency 1,-2631,0,1023.0,-854.0,3451.005,1,230850.0,0.000,0.000,0.0,Credit card,-827,NaN
2658,356229,5717745,Active,currency 1,-519,0,27353.0,NaN,0.000,1,180000.0,179185.680,814.320,0.0,Credit card,-13,NaN
2659,356229,5717746,Active,currency 1,-519,0,27353.0,NaN,0.000,1,180000.0,174957.165,5042.835,0.0,Credit card,-13,NaN
2836,417034,5717971,Active,currency 1,-2408,0,1244.0,NaN,1167.255,1,225000.0,224856.000,141.210,0.0,Credit card,-11,NaN
2857,207559,5717995,Closed,currency 1,-2042,0,-925.0,-991.0,0.000,2,54000.0,0.000,54000.000,0.0,Credit card,-991,NaN
2858,207559,5717997,Active,currency 1,-587,0,27353.0,NaN,0.000,1,108000.0,107915.715,84.285,0.0,Credit card,-13,NaN
3059,106369,5718236,Active,currency 1,-1995,0,8962.0,NaN,81.000,1,12600.0,NaN,NaN,0.0,Credit card,-5,NaN
3180,406860,5718383,Closed,currency 1,-2588,0,8856.0,-105.0,769.500,1,0.0,NaN,NaN,0.0,Credit card,-105,NaN
5446,364013,5721009,Closed,currency 1,-1918,0,9131.0,-456.0,0.000,1,0.0,NaN,NaN,0.0,Credit card,-456,NaN
5574,356310,5721164,Active,currency 1,-1009,0,27502.0,NaN,0.000,2,189000.0,171306.090,17693.910,0.0,Credit card,-10,NaN

### unique value を見ておく

In [22]:
df_bureau["CREDIT_TYPE"].unique()

array(['Consumer credit', 'Credit card', 'Mortgage', 'Car loan',
       'Microloan', 'Loan for working capital replenishment',
       'Loan for business development', 'Real estate loan',
       'Unknown type of loan', 'Another type of loan',
       'Cash loan (non-earmarked)', 'Loan for the purchase of equipment',
       'Mobile operator loan', 'Interbank credit',
       'Loan for purchase of shares (margin lending)'], dtype=object)

In [23]:
df_bureau["CREDIT_ACTIVE"].unique()

array(['Closed', 'Active', 'Sold', 'Bad debt'], dtype=object)

In [24]:
for val in df_bureau['CREDIT_ACTIVE'].unique():
    print(val ,':', sum(df_bureau['CREDIT_ACTIVE'] == val))

Closed : 1079273
Active : 630607
Sold : 6527
Bad debt : 21

### Sum と Averave をとる。

Categorical Value は、Encoding してからやる。
<ul>
  <li>One-Hot Encoding -> groupby -> average で、平均になる。</li>
  <li>One-Hot Encoding -> groupby -> sum で、回数になる。</li
</ul>
おそらく CURRENCY の Sum は意味がないけど。
あと、rename するのが面倒なのでEncodingを2回やってたり。

In [48]:
df_bureau_dummy_ave =pd.get_dummies(df_bureau, 
                                    columns=["CREDIT_ACTIVE", "CREDIT_TYPE", "CREDIT_CURRENCY"], 
                                    prefix=["CA_ave", "CT_ave", "CC_ave"])
df_bureau_dummy_ave = df_bureau_dummy_ave.groupby('SK_ID_CURR', as_index=False).mean()

df_bureau_dummy_sum =pd.get_dummies(df_bureau, 
                                    columns=["CREDIT_ACTIVE", "CREDIT_TYPE", "CREDIT_CURRENCY"], 
                                    prefix=["CA_sum", "CT_sum", "CC_sum"])
df_bureau_dummy_sum = df_bureau_dummy_sum.groupby('SK_ID_CURR', as_index=False).sum()

prefix を足す。

In [49]:
KEY_COLUMN = 'SK_ID_CURR'

for col in df_bureau_dummy_ave.columns:
    if col not in KEY_COLUMN:
        new_col = 'b_ave_' + col 
        df_bureau_dummy_ave.rename(columns = {col : new_col}, inplace=True)

for col in df_bureau_dummy_sum.columns:
    if col not in KEY_COLUMN:
        new_col = 'b_sum_' + col 
        df_bureau_dummy_sum.rename(columns = {col : new_col}, inplace=True)

In [50]:
df_bureau_dummy_ave.head(5)

,SK_ID_CURR,b_ave_SK_ID_BUREAU,b_ave_DAYS_CREDIT,b_ave_CREDIT_DAY_OVERDUE,b_ave_DAYS_CREDIT_ENDDATE,b_ave_DAYS_ENDDATE_FACT,b_ave_AMT_CREDIT_MAX_OVERDUE,b_ave_CNT_CREDIT_PROLONG,b_ave_AMT_CREDIT_SUM,b_ave_AMT_CREDIT_SUM_DEBT,...,b_ave_CT_ave_Loan for working capital replenishment,b_ave_CT_ave_Microloan,b_ave_CT_ave_Mobile operator loan,b_ave_CT_ave_Mortgage,b_ave_CT_ave_Real estate loan,b_ave_CT_ave_Unknown type of loan,b_ave_CC_ave_currency 1,b_ave_CC_ave_currency 2,b_ave_CC_ave_currency 3,b_ave_CC_ave_currency 4
0,100001,5896633.000,-735.000000,0.0,82.428571,-825.500000,NaN,0.0,207623.571429,85240.928571,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,100002,6153272.125,-874.000000,0.0,-349.000000,-697.500000,1681.029,0.0,108131.945625,49156.200000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,100003,5885878.500,-1400.750000,0.0,-544.500000,-1097.333333,0.000,0.0,254350.125000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,100004,6829133.500,-867.000000,0.0,-488.500000,-532.500000,0.000,0.0,94518.900000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,100005,6735201.000,-190.666667,0.0,439.333333,-123.000000,0.000,0.0,219042.000000,189469.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [51]:
df_bureau_dummy_sum.head(5)

,SK_ID_CURR,b_sum_SK_ID_BUREAU,b_sum_DAYS_CREDIT,b_sum_CREDIT_DAY_OVERDUE,b_sum_DAYS_CREDIT_ENDDATE,b_sum_DAYS_ENDDATE_FACT,b_sum_AMT_CREDIT_MAX_OVERDUE,b_sum_CNT_CREDIT_PROLONG,b_sum_AMT_CREDIT_SUM,b_sum_AMT_CREDIT_SUM_DEBT,...,b_sum_CT_sum_Loan for working capital replenishment,b_sum_CT_sum_Microloan,b_sum_CT_sum_Mobile operator loan,b_sum_CT_sum_Mortgage,b_sum_CT_sum_Real estate loan,b_sum_CT_sum_Unknown type of loan,b_sum_CC_sum_currency 1,b_sum_CC_sum_currency 2,b_sum_CC_sum_currency 3,b_sum_CC_sum_currency 4
0,100001,41276431,-5145,0,577.0,-3302.0,0.000,0,1453365.000,596686.5,...,0,0,0,0,0,0,7,0,0,0
1,100002,49226177,-6992,0,-2094.0,-4185.0,8405.145,0,865055.565,245781.0,...,0,0,0,0,0,0,8,0,0,0
2,100003,23543514,-5603,0,-2178.0,-3292.0,0.000,0,1017400.500,0.0,...,0,0,0,0,0,0,4,0,0,0
3,100004,13658267,-1734,0,-977.0,-1065.0,0.000,0,189037.800,0.0,...,0,0,0,0,0,0,2,0,0,0
4,100005,20205603,-572,0,1318.0,-123.0,0.000,0,657126.000,568408.5,...,0,0,0,0,0,0,3,0,0,0

In [52]:
sum_drop_cols = [
    'b_sum_SK_ID_BUREAU', 
]

In [53]:
df_bureau_dummy_sum = df_bureau_dummy_sum.drop(columns = sum_drop_cols)

In [54]:
df_bureau_agg = pd.merge(df_bureau_dummy_ave, df_bureau_dummy_sum, on='SK_ID_CURR', how='left')

In [55]:
df_bureau_agg.shape

(305811, 72)

In [56]:
df_bureau_agg.to_feather('../data/bureau_agg_0816.csv.f')

In [57]:
df_bureau_agg.to_csv('../data/bureau_agg_0816.csv', index=False)